body {
    background-color:  #c5e4e7;
    font-family: 'Space Mono';
    height: auto;
    margin: auto;
    min-width: 0px;
    text-align: left;
  }
  .wrap { 
    display: flex;
    justify-content: center;
  }
  #wrapper2 {
    display: flex;    
    flex-wrap: wrap;  
  }
  #wrapper2 > div {
    flex: 1;          
    min-width: 200px; 
    border: 1px;
  }
  .titleBox{
    position:absolute;
    float:center;
    top: 15%;
    margin-bottom:50px;
  }

  
  p{
      margin: 0px;
  }
  h{
    text-align: center;
    position: relative;
    font-size: 30px;
    color: #01464b;
  }
  h1{
    font-size: 16px;
    color: gray;
    
  }
  h2{
    font-size: 16px;    
    color: white;
  }
  h3{
    font-size: 16px;    
    color: gray;
  }
  h5{
    font-size: 10px;
    color:white;
}
  .box{
    margin: 0 auto;
    background-color: white;
    height: 400px;
    width: 800px;
    padding: 25px;
    border-radius: 15px;
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
}
.inputBox{
    height: 100%;
    width: 50%;
    position: absolute;
}
.resultBox{

    height: 100%;
    width: 50%;
    position:relative;
    padding: 2%;
}
@media screen  and (min-width: 801px) {
  .resultBox{
    position:absolute;
    left:50%;
    top: 50%;
    transform: translateY(-50%);
  }
}
.resultBox2{
    margin: 0 auto;
    background-color: #01464b;
    width:95%;
    height: 95%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    border-radius: 15px;
}

.display{
    position: relative;
    top: 15%;
    bottom:10px;
    margin: 0 auto;
    height: 80px;
    width: 80%;
}
.number{
    color: cyan;
    position: absolute;
    top: 25%;
    left:60%;
    transform: translateY(-50%);
    font-size: 32px;  
    text-align: right;

}
.reset{
    background-color: #9fe8df;
    color: #01464b;
    position: absolute;
    border: none;
    bottom:50px;
    left: 15%;
    width:70%;
    margin: 0 auto;
    border-radius: 10px;
}
.calculate{
    background-color: #9fe8df;
    color: #01464b;
    position: absolute;
    border: none;
    bottom:50px;
    left: 15%;
    width:70%;
    margin: 0 auto;
    border-radius: 10px;
}
.calculate:hover{
    background: #27c2ac;
}
.reset:hover{
    background: #27c2ac;
}
.text{
    display: flex;
    align-items: center;
    padding: .375rem .75rem;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #01464b;
    text-align: center;
    white-space: nowrap;
    background-color: #f3f9fa;
    border-radius: .25rem;
}
.hiddenText{
  width:85%;
  position:absolute;
  text-align: right;
  left:0;

}
.textField{
    position: relative;
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #01464b;
    background-color: #f3f9fa;
    width: 340px;
    background-clip: padding-box;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    background-position-x: 10px;
  background-position-y:center;
    
    
}
.dollar{
  background-image: url("./images/icon-dollar.svg");  
  background-repeat: no-repeat;
}
.person{
  background-image: url("./images/icon-person.svg");  
  background-repeat: no-repeat;
}
::placeholder {
    color: gray;
  }
input[type="custom"]::placeholder { 
    text-align: center;
}
.custom{
    position: relative;
    height:50px;
    width:100px;
    margin:5px;
    top:-50px;
    left: 240px;
    border-radius: 10px;
    font-size: 20px;
}


.tipBtn{
    background-color: #01464b;
    color: white;
    position: relative;
    font-size: 20px;
    border: none;
    top:10px;
    height:50px;
    width:100px;
    margin:5px;

    border-radius: 10px;
}
.tipBtn:hover{
    background: #9fe8df;
}
.bold{
    font-weight: bold;
}
.textInput{
    text-align: right;
}
.icon{
  background-position-x: left;
  background-position-y:center;
    opacity: 50%;
    color: gray;
    position: absolute;
    
    left:3%;
    transform: translateY(-50%);
}
@media screen  and (max-width: 800px) {
    .box {

      position: absolute;
      margin-bottom:0;
      margin-top:150px;

    max-width:500px;
    min-width:100%;
    min-height:75%;
   }
   .inputBox{  

    position: relative;
    

    height:70%;
    width:100%;
    padding:10%;
   }
   .resultBox{

    position:absolute;
    margin-left:5%;

    left:0;
    max-height:45%;
    width:90%;

    
}

.flex{
  margin: auto;
  width: 100%;
}
.hiddenText{

  width:100%;
}
.textField{
  max-width: 100%;
}

.btnGrid{
  margin:auto;
  max-width: 100%;
}
.custom{
  left:185px;
  width: 165px;
}
.icon{
  left:10%;
}
.tipBtn{
  width:165px;
}

.whiteFill{
  height:150px;
  width:200%;
  position:absolute;
  top:95%;
  left:0;
  background-color: white;
}

  }
  @media screen and (min-width:748px) and (max-width: 800px) {
    .custom{
      left:370px;
    }}