  body {
    background-color:  hsl(185, 41%, 84%);
    font-family: 'Space Mono', monospace;
}
  .wrap { 
    display: flex;
    justify-content: center;
}
  .titleBox{
    position:absolute;
    float:center;
    top: 15%;
    margin-bottom:50px;
}
  p{
      margin: 0px;
}
  h{
    text-align: center;
    position: relative;
    font-size: 30px;
    color: hsl(183, 100%, 15%);;
}
  h1{
    font-size: 16px;
    color: hsl(184, 14%, 56%); 
}
  h2{
    font-size: 22px;    
    color: white;
}
  h5{
    font-size: 10px;
    color:white;
}
  .box{
    margin: 0 auto;
    background-color: white;
    height: 400px;
    width: 800px;
    padding: 25px;
    border-radius: 15px;
    position: absolute;
    top: 55%;
}
.inputBox{
    height: 90%;
    width: 50%;
    position: absolute;
}
.resultBox{
    height: 100%;
    width: 50%;
    position:relative;
    padding: 2%;
}
.resultBox2{
    margin: 0 auto;
    background-color: hsl(183, 100%, 15%);
    width:95%;
    height: 95%;
    position: relative;
    top: 50%;
    border-radius: 15px;
}
.display{
    position: relative;
    top: 15%;
    bottom:10px;
    margin: 0 auto;
    height: 80px;
    width: 80%;
}
.number{
    color: hsl(172, 67%, 45%);
    position: absolute;
    top: 25%;
    left:60%;
    font-size: 32px;  
    text-align: right;
}
.bigBtn{
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
  position: absolute;
  border: none;
  bottom:60px;
  left: 15%;
  width:70%;
  height:40px;
  margin: 0 auto;
  border-radius: 5px;
}
.bigBtn:hover{
  background:  hsl(185, 41%, 84%);
}
.text{
  display: flex;
  align-items: center;
  padding: .375rem .75rem;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: hsl(183, 100%, 15%);
  text-align: center;
  white-space: nowrap;
  background-color: #f3f9fa;
  border-radius: .25rem;
}
.hiddenText{
  width:85%;
  position:absolute;
  text-align: right;
  left:0;
}
.textField{
  position: relative;
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: hsl(183, 100%, 15%);
  background-color: #f3f9fa;
  width: 340px;
  background-clip: padding-box;
  border: none;
  appearance: none;
  border-radius: .25rem;
  background-position-x: 10px;
  background-position-y:center; 
  background-repeat: no-repeat;
}
.dollar{
  background-image: url("./images/icon-dollar.svg");  
}
.person{
  background-image: url("./images/icon-person.svg");  
}
::placeholder {
   color: gray;
   text-align: center;
  }
.custom{
  position: relative;
  height:50px;
  width:100px;
  margin:5px;
  top:-50px;
  left: 240px;
  border-radius: 5px;
  font-size: 20px;
}
.tipBtn{
  background-color: hsl(183, 100%, 15%);
  color: white;
  position: relative;
  font-size: 20px;
  border: none;
  top:10px;
  height:50px;
  width:100px;
  margin:5px;
  border-radius: 5px;
}
.tipBtn:hover{
  background: hsl(172, 67%, 45%);
}
.bold{
  font-weight: bold;
}
.btnGrid{
  position: relative;
  left:-5px;
  top:-10px;
  height:150px;
}
.textInput{
  text-align: right;
}
.vCenter{
  transform: translateY(-50%);
}
@media screen  and (max-width: 750px) {
  .box{
    padding: 0px;
    min-height: 800px;
    position: absolute;
    margin-top:100px;
    width:100%;
    max-height:85%;
  }
  .inputBox{  
    position: relative;
    height:70%;
    width:100%;
    padding: 5%;
  }
  .resultBox{
    position:relative;
    margin: 0 auto;
    margin-top: -50px;
    left:0;
    max-height:55%;
    width:95%;
    padding: 0%;
  }
  .flex{
    margin: auto;
    width: 100%;
  }
  .hiddenText{
    width:100%;
  }
  .textField{
    max-width: 100%;
  }
  .btnGrid{
    margin:auto;
    max-width: 100%;
    height:50%;
  }
  .custom{
    left:0px;
    width: 150px;
  }
  .tipBtn{
    width:150px;
  }
  .whiteFill{
    height:300px;
    width:100%;
    position:absolute;
    top:80%;
    left:0;
    background-color: white;
  }
  .titleBox{
    position:absolute;
    top:3%;
  }
}
@media screen and (max-width: 600px) {
  .custom{
    left:290px;
    width: 125px;
  }
  .tipBtn{
    width:125px;
  }
} 
@media screen and (max-width:487px) {
  .custom{
    left:145px;
  }
} 
@media screen and (min-width:601px) and (max-width: 750px) {
  .custom{
    left:340px;
  }
} 
@media screen  and (min-width: 751px) {
  .resultBox{
    position:absolute;
    left:50%;
    top: 50%;
    transform: translateY(-50%);
  }
}   